.container{
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    z-index: 1000;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

    /* background-color: red; */
}

.imageContainer{
    /* margin-left: 50px; */
    position: fixed;
    z-index: 10000;
    left: 5%;
    filter :drop-shadow(3px 2px 1px black)
}

.nav_options_responsive{
        display: none;
       
    }


.nav_options{
        /* margin-right: 50px; */
        position: fixed;
        right: 5%;

}


    .overlay{
    /* background-color: #BBEF44; */
    width: 100%;
    height: 100vh;
    z-index: 10000;
    transition: linear all .3s;
    /* border-radius: 50%; */
/* transform: scale(1);     */
    background-image: linear-gradient(to right,rgb(187, 239, 68),rgb(187, 239, 68));
    overflow: hidden;
    /* position: relative; */
}

.notOverLay{
        transition: all .3s;


    /* overflow: hidden; */
}

.responsive_options_hide{
    display: none;
    transition: all .4s;
}

@media (max-width:700px){
    .nav_options{
        display: none;
    }

    .nav_options_responsive{
        display: block;
        position: fixed;
        right: 5%;
        top: 3%; 
    }

    

    .imageContainer{
        position: fixed;
        top: 0%;
    }

    .responsive_options_container{
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: 600;
         transition: all .4s;
    }
  
}