.container{
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.imageContainer{
    position: fixed;
    z-index: 10000;
    left: 5%;
    filter :drop-shadow(3px 2px 1px black)
}

.nav_options_responsive{
        display: none;
       
    }


.nav_options{
        position: fixed;
        right: 5%;
}

    .overlay{
        position: fixed;
        top: 5%;
        right: 5%;
        width: 10px;
        height: 10px;
        border-radius: 50%; 
        transition: all 2s;
        transform: scale(200);
        background-image: linear-gradient(to right,rgb(187, 239, 68),rgb(187, 239, 68));
        overflow: hidden;
}

.notOverLay{
        transition: all .3s;
}

.responsive_options_hide{
    display: none;
    transition: all .4s;
}

@media (max-width:700px){
    .nav_options{
        display: none;
    }

    .nav_options_responsive{
        display: block;
        position: fixed;
        right: 5%;
        top: 3%; 
    }

    

    .imageContainer{
        position: fixed;
        top: 0%;
    }

    .responsive_options_container{
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: 600;
        animation:  opacityHolder 2s ease-in-out;
         transition: all 3s;
         z-index: 10000;
         position: relative;
         top: 200%;
    }
  
}

@keyframes opacityHolder {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}