.container{
    width: 100vw;
    position: relative;
    background-color: black;
    overflow: hidden;

}

.video_container{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;

}

.video{   
    height: 100vh;
    margin: auto;
}

.text_container{
text-align: center;
color: #BBEF44;
position: absolute; 
top:20%;
left:50%; 
transform: translate(-50% , 0);
z-index: 1;
}

.text{
    font-size: 8rem;
    font-weight: 200;
    margin: 0px;
    line-height: 100px;
}

.heading {
    transform: skew(-12deg);
    font-size: 8rem;
    margin: 0px;
    line-height: 80px;
}

.buttonContainer{
    
    margin-top: 60px;
}


.scroll{
    background-color: #BBEF44;
    position:absolute;
    bottom: -9px;
    width: 100vw;
    height: 65px;
    transform: skew(0deg, -.6deg);
    color: black;
    border-top: 8px solid black;
        border-bottom: 8px solid black;


    font-size: 1.5rem;
}

.img{
    width: 150px;
    text-align: center;
    margin-top: 10px;

}

.slide >div > div {
    display: flex;
    align-items: center;
}

.slide >div > div > div > div {
    width: 100px;
}

/* Media-Queries */

@media (max-width:1000px){
.text{
    font-size: 6rem;
    font-weight: 200;
    margin: 0px;
    line-height: 60px;

}

.heading{
    font-size: 6rem;
    margin: 0px;
    line-height: 60px;

}
}

@media (max-width:400px){
.text{
    font-size: 4rem;
    font-weight: 200;
    margin: 0px;
    line-height: 45px;
        letter-spacing: 2px;

}

.heading{
    font-size: 4rem;
    margin: 0px;
    line-height: 45px;
    letter-spacing: 2px;

}
}