.container{
    width: 100vw;
    /* min-height:800px ; */
    /* max-height: max-content; */
    position: relative;
    background-color: black;
    overflow: hidden;

}

.video_container{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;

}

.video{
   
    height: 100vh;
    /* width: 100vw; */
    margin: auto;
}

/* .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */


/* {Text Styling} */


.text_container{
text-align: center;
color: #BBEF44;
position: absolute; 
z-index: 1000;
top:20%;
left:50%; 
 transform: translate(-50% , 0);
}

.text{
    font-size: 8rem;
    font-weight: 200;
    margin: 0px;
    line-height: 100px;
}

.heading {
    transform: skew(-12deg);
    font-size: 8rem;
    /* font-weight: 200; */
    margin: 0px;
    line-height: 80px;
}

.buttonContainer{
    
    margin-top: 60px;
}


.scroll{
    background-color: #BBEF44;
    position:absolute;
    bottom: -9px;
    z-index: 1000;
    width: 100vw;
    height: 65px;
    transform: skew(0deg, -.6deg);
    color: black;
    border-top: 8px solid black;
        border-bottom: 8px solid black;


    font-size: 1.5rem;
}

.img{
    width: 150px;
    text-align: center;
    margin-top: 10px;

}

.slide >div > div {
    display: flex;
    align-items: center;
}

.slide >div > div > div > div {
    /* display: flex; */
    width: 100px;
}

/* Media-Queries */

@media (max-width:1000px){
.text{
    font-size: 6rem;
    font-weight: 200;
    margin: 0px;
    line-height: 60px;

}

.heading{
    font-size: 6rem;
    /* font-weight: 200; */
    margin: 0px;
    line-height: 60px;

}
}

@media (max-width:400px){
.text{
    font-size: 4rem;
    font-weight: 200;
    margin: 0px;
    line-height: 45px;
        letter-spacing: 2px;

}

.heading{
    font-size: 4rem;
    /* font-weight: 200; */
    margin: 0px;
    line-height: 45px;
    letter-spacing: 2px;

}
}